<div class="features">
	<section class="features">
		<div class="container">
			<h1>What do you get with our tool?</h1>
			<p>Make sure your tasks..</p>
			<div class="tool-features">
				<div class="box">
				<img src="" alt=""/>
					<h5>Lorem10</h5>
				<p>Lorem10</p>
				</div>
				<div class="box">
					<img src="" alt="" />
					<h5>Lorem10</h5>
					<p>Lorem10</p>
				</div>
				<div class="box">
					<img src="" alt="" />
					<h5></h5>
					<p></p>
				</div>
				<div class="box">
					<img src="" alt="" />
					<h5></h5>
					<p></p>
				</div>
				<div class="box">
					<img src="" alt="" />
					<h5></h5>
					<p></p>
				</div>
				<div class="box">
					<img src="" alt="" />
					<h5></h5>
					<p></p>
				</div>
			</div>
		</div>
	</section>
</div>