@model SubscribeViewModel

<section id="subscribe" class="subscribe">
	<div class="container">
		<div class="title">
			<h2>Don't Want to Miss Anything?</h2>
			<img src="~/images/home/arrow.svg" alt="swirl arrow"/>
		</div>
		<form method="post" asp-action="Subscribe" asp-controller="Home">
			<div class="alternative">
				<h4>Sign up for Newsletters</h4>

				<div class="options">
					<div class="checkbox-group">
						<input asp-for="DailyNewsletter"/>
						<label asp-for="DailyNewsletter">DailyNewsletter</label>
					</div>
					<div class="checkbox-group">
						<input checked=checked asp-for="AdvertisingUpdates" />
						<label asp-for="AdvertisingUpdates">Advertising Updates</label>
					</div>
					<div class="checkbox-group">
						<input asp-for ="WeekinReview" />
						<label asp-for="WeekinReview">Week in Review</label>
					</div>
					<div class="checkbox-group">
						<input asp-for="EventUpdates" />
						<label asp-for="EventUpdates">Event Updates</label>
					</div>
					<div class="checkbox-group">
						<input asp-for="StartupsWeekly" />
						<label asp-for="StartupsWeekly">Startups Weekly</label>
					</div>
					<div class="checkbox-group">
						<input asp-for="Podcasts" />
						<label asp-for="Podcasts"> Podcasts</label>
					</div>
				</div>
			</div>
			<div class="form-email">
				<div class="input-group">
					<i class="fa-regular fa-envelope"></i>
					<input asp-for="Email" />
				</div>
				<button type="submit" class="btn btn-theme">Subscribe *</button>
			</div>
			@if (!string.IsNullOrEmpty(TempData["StatusMessage"]?.ToString()))
			{
				<span class="status-message">@TempData["StatusMessage"]</span>
			}
			else
			{
				<span class="status-message"><span>*</span> Yes, I agree to the <a href="#">terms</a> and <a href="#">privacy policy</a>."</span>
			}
			
		</form>
	</div>
</section>