#details {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    margin-bottom: 3rem;


    aside {
        text-align: center;
        display: flex;
        width: 60%;
        flex-direction: column;
        justify-content: start;
        justify-items: center;
        align-content: center;
        justify-self: end;


        form {
            position: relative;

            .btn.btn-circle {
                background-color: white;
                position: absolute;
                left: 150px;
                top: -53px;
                border-radius: 25px;
                width: fit-content;
                border: 0.3px solid grey;
            }
        }


        div {
            profile-info {

                img {
                    position: relative;
                    justify-self: center;
                    justify-content: center;
                    align-self: center;
                }
            }
        }

        nav {

            a {
                display: block;
                width: 100%;
                text-align: start;
                padding-left: 15px;
            }

            i {
                padding-right: 5px;
            }
        }
    }

    .container {
        padding-left: 150px;
        padding-top: 5rem;
        margin-left: 10px;
        padding-bottom: 5rem;
        border-left: 1px solid #d4d7e5;

        p {
            a {
                padding-left: 0.5rem;
            }
        }

        @include lg {
            width: 60%;
        }

        @include xl {
            width: 80%;
        }


        #forms {

            form {
                padding: 1rem;


                .content {
                    display: grid;
                    gap: 1rem;
                    padding-bottom: 3rem;
                    border-bottom: 1px solid #d4d7e5;
                    grid-template-columns: 1fr 1fr;
                    grid-template-areas:
                        "firstname lastname" "email phone" "bio bio" "confirm confirm";


                    #form-firstname {
                        grid-area: firstname;
                    }

                    #form-lastname {
                        grid-area: lastname;
                    }

                    #form-email {
                        grid-area: email;
                    }

                    #form-phone {
                        grid-area: phone;
                    }

                    #form-bio {
                        grid-area: bio;
                    }

                    #form-confirm {
                        display: flex;
                        gap: 20px;
                        width: 40%;
                        height: 80%;
                        flex-direction: row;
                        grid-area: confirm;
                    }
                }

                #content-address {
                    display: grid;
                    gap: 1rem 2rem;
                    grid-template-columns: 1fr 1fr;
                    grid-template-areas:
                        "Adressline-1 Adressline-1" "Adressline-2 Adressline-2" "postalcode city" "confirm confirm";


                    #form-Adressline-1 {
                        grid-area: Adressline-1;
                    }

                    #form-Adressline-2 {
                        grid-area: Adressline-2;
                    }

                    #form-postalcode {
                        grid-area: postalcode;

                        span.field-validation-error {
                            right: -20px;
                        }
                    }

                    #form-city {
                        grid-area: city;
                    }

                    #form-address-confirm {
                        display: flex;
                        gap: 20px;
                        width: 40%;
                        height: 80%;
                        flex-direction: row;
                        grid-area: confirm;
                    }
                }
            }
        }
    }
}
