.download {
    margin: 3rem 0;
    padding:3rem;
    background-color: $theme-opacity;
    

    .container {
        display: flex;
        justify-content: center;
        width: 100%;


        img {
            width: 60%;
        }
    }
}
