
@model HomeIndexViewModel
@*This is the Index of the view Home. with partial views*@

<div id="header">
    @await Html.PartialAsync("~/Views/Shared/Sections/_HeaderPartial.cshtml")
</div>

@*Insert partial and model for the partial view a Model.Showcase is inserted for all the variables in the html code*@
    
@await Html.PartialAsync("~/Views/Shared/Sections/_Showcase.cshtml", Model.Showcase)
@await Html.PartialAsync("~/Views/Shared/Sections/_Features.cshtml", Model.Features)
@await Html.PartialAsync("~/Views/Shared/Sections/_SubscribeToNewsletter.cshtml", Model.Subscribe)

@* <partial name="~/Views/Shared/Sections/_SubscribeToNewsletter.cshtml" /> *@
    
<div id="footer">
    @await Html.PartialAsync("~/Views/Shared/Sections/_FooterPartial.cshtml")
</div>
@* 
<div id="showcase">
    <partial name="~/Views/Shared/Sections/_Showcase.cshtml" />
</div> *@