@model IndexViewModel
@{
	/* This is razor code  after the '@' u can type Csharp code inside the HTML code observe the filename .cshtml
	*/

}
@{
	ViewData["Title"] = "Products Overview";
}

<h1>This is the H1, This is also a div in the Index view of products using a foreach loop on the model.ProductList</h1>
@foreach (var product in Model.ProductList)
{
	<div>@product.Name @product.Category @product.Description</div>	
};
<h2>h2sdasdsad</h2>

