@{
    //Here u can edit the layout for all the pages/individual views i.e views/home/index.cshtml

    // but you can also add specific layouts i.e layout2 for an individual page by declaring it on the page at the top
    // @{Layout = "_layout2";
    // }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="https://kit.fontawesome.com/41c8b474e2.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    <title>@ViewData["Title"] - Silicon</title>
</head>
<body>

<div class="wrapper">

        <header>
            <div class="container">
                <a asp-controller="Home" asp-action="Index"><img id="logo" src="~/images/home/solid-logo-header.svg" alt="company logo" /></a>

                <div id="menu">
                    <nav>
                        <a class="nav-link" href="#overview">Overview</a>
                        <a class="nav-link" href="#features">Features</a>
                        <a class="nav-link" asp-controller="Contact" asp-action="Index">Contact</a>
                    </nav>
                </div>
                <div class="btn-switch">
                    <label>Light</label>
                    <label class="switch" for="switch-mode">
                        <input type="checkbox" id="switch-mode" />
                        <div class="slider round"></div>
                    </label>
                    <label>Dark</label>
                </div>
                <div class="account-buttons">
                    <a class="btn-gray" asp-controller="Account" asp-action="SignIn"><i class="fa-regular fa-right-to-bracket"></i>Sign in</a>
                    <a class="btn-theme" asp-controller="Account" asp-action="SignUp"><i class="fa-regular fa-user"></i>Sign up</a>
                </div>
            </div>
        </header>

        <main>
            @RenderBody()
        </main>

        <footer>
            <div class="container">
                <div class="social-media">
                    <a class="btn-social" href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a class="btn-social" href="#"><i class="fa-brands fa-square-x-twitter"></i></a>
                    <a class="btn-social" href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a class="btn-social" href="#"><i class="fa-brands fa-youtube"></i></a>
                </div>
                <p>&copy;@DateTime.Now.Year Silicon. All rights reserved.Pulvinar urna condimentum amet tempor, ornare integer. Lorem odio justo malesuada suspendisse viverra aliquet quisque turpis non. Feugiat in odio non nunc ornare consectetur.</p>
            </div>
        </footer>
</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    @* <script src="scripts/script.js"></script> *@
</body>
</html>
